html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#myRange {
    padding: 5;
    margin: auto;
    display: block;
    position: absolute;
 
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}